@charset "utf-8";

$primary-orange: #f58500;
$darker-orange: darken($primary-orange, 10%);

$primary-grey: #333;
$secondary-grey: #ccc;
$primary-white: #fdfdfd;
$secondary-white: #eee;
$primary-black: #252831;

$primary-green: #4caf50;
$primary-blue: #2196f3;
$primary-yellow: #f4ed47;
$primary-red: #f44336;
$darker-red: #cb3d3d;
